<div class="footer">
  <div class="footer-container">
      <div class="row">
          <!-- Company Info -->
          <div class="col-md-4 mb-4">
              <h6 class="footer-heading">
                  <mat-icon class="me-2">star</mat-icon>TKA Products
              </h6>
              <p class="company-description">
                  TKA Products: Your Vision, Our Design. Since 2020, we've been transforming ideas into impactful visuals. From logos to videos, we create designs that captivate and elevate your brand.
              </p>
          </div>

          <!-- Products -->
          <div class="col-md-2 mb-4">
              <h6 class="footer-heading">Products</h6>
              <a href="#" class="footer-link">Angular</a>
              <a href="#" class="footer-link">React</a>
              <a href="#" class="footer-link">SpringBoot</a>
              <a href="#" class="footer-link">Node</a>
          </div>

          <!-- Useful Links -->
          <div class="col-md-2 mb-4">
              <h6 class="footer-heading">Useful Links</h6>
              <a href="#" class="footer-link">Pricing</a>
              <a href="#" class="footer-link">Settings</a>
              <a href="#" class="footer-link">Orders</a>
              <a href="#" class="footer-link">Help</a>
          </div>

          <!-- Contact Info -->
          <div class="col-md-4 mb-4 contact-info">
              <h6 class="footer-heading">Contact</h6>
              <p><mat-icon class="me-2">home</mat-icon>Kurunegala, Sri Lanka</p>
              <p><mat-icon class="me-2">email</mat-icon>tharushakavinda01gmail.com</p>
              <p><mat-icon class="me-2">phone</mat-icon>+9471 883 2011</p>
              <p><mat-icon class="me-2">print</mat-icon>+9471 883 2011</p>
              <div class="social-icons mt-3">
                  <a href="#" class="social-icon"><mat-icon>facebook</mat-icon></a>
                  <a href="#" class="social-icon"><mat-icon>twitter</mat-icon></a>
                  <a href="#" class="social-icon"><mat-icon>google</mat-icon></a>
                  <a href="#" class="social-icon"><mat-icon>instagram</mat-icon></a>
                  <a href="#" class="social-icon"><mat-icon>linkedin</mat-icon></a>
                  <a href="#" class="social-icon"><mat-icon>github</mat-icon></a>
              </div>
          </div>
      </div>
  </div>
  <div class="copyright">
      © 2024 Copyright: <a href="https://thaproducts.com/">TKAProducts.com</a>
  </div>
</div>