<div class="p-3" style="margin: 50px;">
    <h3 class="Wedding text-center">Wedding</h3>
  </div>
  <div class="d-flex justify-content-center">
    <div class="input-group mb-3" style="max-width: 300px;">
      <input type="text" class="form-control" placeholder="Enter your search" aria-label="Search">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button">
          <i class="bi bi-search">Search</i>
        </button>
      </div>
    </div>
  </div>
  
  <div class="mb-2">
      <div class="d-flex flex-row mb-2 justify-content-center" >
        <div class="card" style="width: 250px; height: 250px; margin-right: 15px;">
        <div class="card-body">
          <button routerLink="/hotels"  class="btn btn-primary" style="width: 215px; height: 215px;">Hotels</button>
        </div>
      </div>
      <div class="card" style="width: 250px; height: 250px; margin-right: 15px;">
        <div class="card-body">
          <button routerLink="/food" class="btn btn-primary" style="width: 215px; height: 215px;">Food</button>
        </div>
      </div>
      <div class="card" style="width: 250px; height: 250px; margin-right: 15px;">
        <div class="card-body">
          <button routerLink="/drinks" class="btn btn-primary" style="width: 215px; height: 215px;">Drinks</button>
        </div>
      </div>
      </div>
      
    <div class="d-flex flex-row mb-2 justify-content-center">
      <div class="card" style="width: 250px; height: 250px; margin-right: 15px;">
        <div class="card-body">
          <button routerLink="/vehicles" class="btn btn-primary" style="width: 215px; height: 215px;">Vehicles</button>
        </div>
      </div>
      <div class="card" style="width: 250px; height: 250px; margin-right: 15px;">
        <div class="card-body">
          <button routerLink="/photographers" class="btn btn-primary" style="width: 215px; height: 215px;">Photographers</button>
        </div>
      </div>
      <div class="card" style="width: 250px; height: 250px; margin-right: 15px;">
        <div class="card-body">
          <button routerLink="/decoration" class="btn btn-primary" style="width: 215px; height: 215px;">Decoration</button>
        </div>
      </div>
    </div>
    </div>
    <div class="chat">
      <button routerLink="/chat" class="btn btn-primary" >chat</button>
        </div>
