<!--<nav class="navbar navbar-expand-lg navbar-dark bg-primary custom-toolbar">
    <a class="navbar-brand" href="#">
      <img src="logo.png" alt="Groopy Logo" class="logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav d-flex justify-content-end w-100"> 
        <li class="nav-item">
          <a class="nav-link" href="#">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Save More</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Help & Support</a>
        </li>
        <li class="nav-item">
          <a routerLink="/signup" class="nav-link" href="#">Sign In</a>
        </li>
        <li class="nav-item">
          <ng-container *ngIf=" authService.currentUser$ | async as user; else loginButton">-->
            <!-- bouns2 11.15 change it -->
           <!-- <button mat-button color="primary"  class="white-text" [matMenuTriggerFor]="userMenu"> 
              <img class="profile-image" width="30" height="30" [src]="(user$ | async)?.photoURL || 'profile.png'"/>
              {{getDisplayName(user)}}
              <mat-icon>expand_more</mat-icon>
            </button>
          </ng-container>

          <ng-template #loginButton>
            <button mat-button color="primary" routerLink="/login"  class="white-text">
              <mat-icon>login</mat-icon>
              Login
            </button>
          </ng-template>
        </li>
      </ul>
    </div>
  </nav>
  <mat-menu #userMenu = "matMenu">
    <button mat-menu-item (click)="logout()">Logout</button>
    <button mat-menu-item routerLink="/profile">Profile</button>
  </mat-menu>-->
  <nav class="navbar navbar-expand-lg navbar-dark custom-toolbar" style="background-color: #03A791; font-family: 'Poppins', sans-serif;">
    <a class="navbar-brand" href="#">
      <img src="logo.png" alt="Groopy Logo" class="logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav d-flex justify-content-end w-100"> 
        <li class="nav-item">
          <a class="nav-link" href="#" style="font-weight: 500;">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" style="font-weight: 500;">Save More</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" style="font-weight: 500;">Help & Support</a>
        </li>
        <li class="nav-item">
          <a routerLink="/signup" class="nav-link" href="#" style="font-weight: 500;">Sign In</a>
        </li>
        <li class="nav-item">
          <ng-container *ngIf=" authService.currentUser$ | async as user; else loginButton">
            <!-- bouns2 11.15 change it -->
            <button mat-button style="color: white; font-weight: 500;" [matMenuTriggerFor]="userMenu"> 
              <img class="profile-image" width="30" height="30" [src]="(user$ | async)?.photoURL || 'profile.png'"/>
              {{getDisplayName(user)}}
              <mat-icon>expand_more</mat-icon>
            </button>
          </ng-container>

          <ng-template #loginButton>
            <button mat-button style="color: white; font-weight: 500;" routerLink="/login">
              <mat-icon>login</mat-icon>
              Login
            </button>
          </ng-template>
        </li>
      </ul>
    </div>
  </nav>
  <mat-menu #userMenu = "matMenu">
    <button mat-menu-item (click)="logout()" style="font-family: 'Poppins', sans-serif;">Logout</button>
    <button mat-menu-item routerLink="/profile" style="font-family: 'Poppins', sans-serif;">Profile</button>
  </mat-menu>