<div class="p-3">
    <h3 class="Wedding text-center">Decoration</h3>
  </div>
  <div class="d-flex justify-content-center">
    <div class="input-group mb-3" style="max-width: 300px;">
      <input type="text" class="form-control" placeholder="Enter your search" aria-label="Search">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button">
          <i class="bi bi-search">Search</i>
        </button>
      </div>
    </div>
  </div>
  
  <div class="mb-2">
      <div class="d-flex flex-row mb-2 justify-content-center" >
        <div class="card" style="width: 250px; height: 250px; margin-right: 15px;">
            <div class="card-body">
                <a href="https://www.90fweddings.com/" target="_blank" style="text-decoration: none;">
                <button class="btn btn-primary position-relative overflow-hidden" 
                        style="width: 215px; height: 215px; display: flex; align-items: center; justify-content: center; text-align: center;">
                  <!-- Image inside the button -->
                  <img src="90fwedding.jpg" alt="Cinnamon Lodge" 
                       style="width: 100%; height: 100%; object-fit: cover; position: absolute; top: 0; left: 0; opacity: 0.5;">
                  
                  <!-- Text container -->
                  <div style="position: relative; z-index: 1; color: white; font-weight: bold;">
                    <span style="display: block; font-size: 18px;">90fweddings</span>
                   
                  </div>
                </button>
                </a>
              </div>
      </div>
      <div class="card" style="width: 250px; height: 250px; margin-right: 15px;">
        <div class="card-body">
            <a href="https://araliyaflora.com/" target="_blank" style="text-decoration: none;">
            <button class="btn btn-primary position-relative overflow-hidden" 
                    style="width: 215px; height: 215px; display: flex; align-items: center; justify-content: center; text-align: center;">
              <!-- Image inside the button -->
              <img src="araliyaflora.png" alt="Stream Boat" 
                   style="width: 100%; height: 100%; object-fit: cover; position: absolute; top: 0; left: 0; opacity: 0.5;">
              
              <!-- Text container-->  
              <div style="position: relative; z-index: 1; color: white; font-weight: bold;">
                <span style="display: block; font-size: 18px;">Araliya Flora</span>
               
              </div>
            </button>
        </a>
          </div>
      </div>
      <div class="card" style="width: 250px; height: 250px; margin-right: 15px;">
        <div class="card-body">
            <a href="https://lassanaweddings.com/" target="_blank" style="text-decoration: none;">
            <button class="btn btn-primary position-relative overflow-hidden" 
                    style="width: 215px; height: 215px; display: flex; align-items: center; justify-content: center; text-align: center;">
              <!-- Image inside the button -->
              <img src="lassanawedding.png" alt="Warna Caterers" 
                   style="width: 100%; height: 100%; object-fit: cover; position: absolute; top: 0; left: 0; opacity: 0.5;">
              
              <!-- Text container -->
              <div style="position: relative; z-index: 1; color: white; font-weight: bold;">
                <span style="display: block; font-size: 18px;">Lassana Wedding</span>
                
              </div>
            </button>
        </a>
          </div>
      </div>
      </div>
      
    <div class="d-flex flex-row mb-2 justify-content-center">
      <div class="card" style="width: 250px; height: 250px; margin-right: 15px;">
        <div class="card-body">
            <a href="https://www.kandianfloralsedge.com/" target="_blank" style="text-decoration: none;">
            <button class="btn btn-primary position-relative overflow-hidden" 
                    style="width: 215px; height: 215px; display: flex; align-items: center; justify-content: center; text-align: center;">
              <!-- Image inside the button -->
              <img src="kandianflora.jpg" alt="Aliya Resort and Spa" 
                   style="width: 100%; height: 100%; object-fit: cover; position: absolute; top: 0; left: 0; opacity: 0.5;">
              
              <!-- Text container -->
              <div style="position: relative; z-index: 1; color: white; font-weight: bold;">
                <span style="display: block; font-size: 18px;">Kandian Flora Edge</span>
                
              </div>
            </button>
        </a>
          </div>
      </div>
      <div class="card" style="width: 250px; height: 250px; margin-right: 15px;">
        <div class="card-body">
            <a href="https://www.manaharaflora.lk/" target="_blank" style="text-decoration: none;">
            <button class="btn btn-primary position-relative overflow-hidden" 
                    style="width: 215px; height: 215px; display: flex; align-items: center; justify-content: center; text-align: center;">
              <!-- Image inside the button -->
              <img src="manahara.jpg" alt="Sigiriya Jungles" 
                   style="width: 100%; height: 100%; object-fit: cover; position: absolute; top: 0; left: 0; opacity: 0.5;">
              
              <!-- Text container -->
              <div style="position: relative; z-index: 1; color: white; font-weight: bold;">
                <span style="display: block; font-size: 18px;">Manahara Flora</span>
                
              </div>
            </button>
        </a>
          </div>
      </div>
      <div class="card" style="width: 250px; height: 250px; margin-right: 15px;">
        <div class="card-body">
            <a href="https://lassanaevents.com/" target="_blank" style="text-decoration: none;">
            <button class="btn btn-primary position-relative overflow-hidden" 
                    style="width: 215px; height: 215px; display: flex; align-items: center; justify-content: center; text-align: center;">
              <!-- Image inside the button -->
              <img src="lassanevents.jpg" alt="Deer Park Hotel" 
                   style="width: 100%; height: 100%; object-fit: cover; position: absolute; top: 0; left: 0; opacity: 0.5;">
              
              <!-- Text container -->
              <div style="position: relative; z-index: 1; color: white; font-weight: bold;">
                <span style="display: block; font-size: 18px;">Lassna Events</span>
                
              </div>
            </button>
        </a>
          </div>
      </div>
    </div>
    </div>


