<div class="locations-container-alt">
  <div class="locations-header-alt mat-elevation-z4">
    <h2 class="locations-title-alt">Locations</h2>
  </div>

  <div class="search-container-alt">
    <mat-form-field appearance="outline" class="search-input-alt">
      <mat-label>Enter your search</mat-label>
      <input matInput placeholder="e.g., BMICH, SLECC...">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <button mat-raised-button color="accent" class="search-button-alt">
      <mat-icon>search</mat-icon>
      <span>Search</span>
    </button>
  </div>

  <div class="locations-grid-alt">
    <div class="location-card-alt mat-elevation-z4">
      <a href="https://www.bmich.com/contact-us/" target="_blank" class="location-link-alt">
        <div class="location-image-alt" style="background-image: url('bmich.png');">
          <div class="location-overlay-alt"></div>
          <div class="location-info-alt">
            <h3>BMICH</h3>
          </div>
        </div>
      </a>
    </div>
    <div class="location-card-alt mat-elevation-z4">
      <a href="https://meetinsrilanka.com/industry/sri-lanka-exhibition-convention-centre-slecc/" target="_blank" class="location-link-alt">
        <div class="location-image-alt" style="background-image: url('slecc.png');">
          <div class="location-overlay-alt"></div>
          <div class="location-info-alt">
            <h3>SLECC</h3>
          </div>
        </div>
      </a>
    </div>
    <div class="location-card-alt mat-elevation-z4">
      <a href="https://snsca.gov.lk/booking-now/" target="_blank" class="location-link-alt">
        <div class="location-image-alt" style="background-image: url('snsca.jpg');">
          <div class="location-overlay-alt"></div>
          <div class="location-info-alt">
            <h3>SNSCA</h3>
          </div>
        </div>
      </a>
    </div>
    <div class="location-card-alt mat-elevation-z4">
      <a href="https://portal.sites.pdn.ac.lk/guidelines-for-online-reservations" target="_blank" class="location-link-alt">
        <div class="location-image-alt" style="background-image: url('uop.jpg');">
          <div class="location-overlay-alt"></div>
          <div class="location-info-alt">
            <h3>University of Peradeniya</h3>
          </div>
        </div>
      </a>
    </div>
    <div class="location-card-alt mat-elevation-z4">
      <a href="https://www.nelumpokuna.com/" target="_blank" class="location-link-alt">
        <div class="location-image-alt" style="background-image: url('nelumpokuna.jpg');">
          <div class="location-overlay-alt"></div>
          <div class="location-info-alt">
            <h3>Nelum Pokuna</h3>
          </div>
        </div>
      </a>
    </div>
    <div class="location-card-alt mat-elevation-z4">
      <a href="https://www.museum.gov.lk/web/index.php?option=com_emailer&Itemid=101&lang=en" target="_blank" class="location-link-alt">
        <div class="location-image-alt" style="background-image: url('museumadudi.jpg');">
          <div class="location-overlay-alt"></div>
          <div class="location-info-alt">
            <h3>Museum Auditorium</h3>
          </div>
        </div>
      </a>
    </div>
  </div>

  <div class="chat-button">
    <button mat-fab color="primary" aria-label="Chat" [routerLink]="['/chat']">
      <mat-icon>chat</mat-icon>
    </button>
  </div>
</div>