<div class="p-3">
    <h3 class="Wedding text-center">Locations</h3>
  </div>
  <div class="d-flex justify-content-center">
    <div class="input-group mb-3" style="max-width: 300px;">
      <input type="text" class="form-control" placeholder="Enter your search" aria-label="Search">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button">
          <i class="bi bi-search">Search</i>
        </button>
      </div>
    </div>
  </div>
  
  <div class="mb-2">
      <div class="d-flex flex-row mb-2 justify-content-center" >
        <div class="card" style="width: 250px; height: 250px; margin-right: 15px;">
            <div class="card-body">
                <a href="https://www.tripadvisor.com/Attraction_Review-g674587-d447524-Reviews-Udawalawe_National_Park-Udawalawe_National_Park.html" target="_blank" style="text-decoration: none;">
                <button class="btn btn-primary position-relative overflow-hidden" 
                        style="width: 215px; height: 215px; display: flex; align-items: center; justify-content: center; text-align: center;">
                  <!-- Image inside the button -->
                  <img src="udawalawe.jpg" alt="Cinnamon Lodge" 
                       style="width: 100%; height: 100%; object-fit: cover; position: absolute; top: 0; left: 0; opacity: 0.5;">
                  
                  <!-- Text container -->
                  <div style="position: relative; z-index: 1; color: white; font-weight: bold;">
                    <span style="display: block; font-size: 18px;">Udawalawe National Park</span>
                    <span style="display: block; font-size: 14px;">- Udawalawe</span>
                  </div>
                </button>
                </a>
              </div>
      </div>
      <div class="card" style="width: 250px; height: 250px; margin-right: 15px;">
        <div class="card-body">
            <a href="https://elephantorphanagesrilanka.com/" target="_blank" style="text-decoration: none;">
            <button class="btn btn-primary position-relative overflow-hidden" 
                    style="width: 215px; height: 215px; display: flex; align-items: center; justify-content: center; text-align: center;">
              <!-- Image inside the button -->
              <img src="pinnawala.jpg" alt="Hilton Yala Resort" 
                   style="width: 100%; height: 100%; object-fit: cover; position: absolute; top: 0; left: 0; opacity: 0.5;">
              
              <!-- Text container -->
              <div style="position: relative; z-index: 1; color: white; font-weight: bold;">
                <span style="display: block; font-size: 18px;">Pinnawala Elephant Orphanage</span>
                <span style="display: block; font-size: 14px;">- Pinnawala</span>
              </div>
            </button>
        </a>
          </div>
      </div>
      <div class="card" style="width: 250px; height: 250px; margin-right: 15px;">
        <div class="card-body">
            <a href="https://eservices.ccf.gov.lk/eticketing/landing" target="_blank" style="text-decoration: none;">
            <button class="btn btn-primary position-relative overflow-hidden" 
                    style="width: 215px; height: 215px; display: flex; align-items: center; justify-content: center; text-align: center;">
              <!-- Image inside the button -->
              <img src="sigiriya.jpg" alt="Hidde Inn Unawatuna" 
                   style="width: 100%; height: 100%; object-fit: cover; position: absolute; top: 0; left: 0; opacity: 0.5;">
              
              <!-- Text container -->
              <div style="position: relative; z-index: 1; color: white; font-weight: bold;">
                <span style="display: block; font-size: 18px;">Sigiriya</span>
                <span style="display: block; font-size: 14px;">- Dambulla</span>
              </div>
            </button>
        </a>
          </div>
      </div>
      </div>
      
    <div class="d-flex flex-row mb-2 justify-content-center">
      <div class="card" style="width: 250px; height: 250px; margin-right: 15px;">
        <div class="card-body">
            <a href="https://www.museum.gov.lk/web/index.php?option=com_content&view=article&id=121&Itemid=102&lang=en" target="_blank" style="text-decoration: none;">
            <button class="btn btn-primary position-relative overflow-hidden" 
                    style="width: 215px; height: 215px; display: flex; align-items: center; justify-content: center; text-align: center;">
              <!-- Image inside the button -->
              <img src="museum.jpg" alt="Aliya Resort and Spa" 
                   style="width: 100%; height: 100%; object-fit: cover; position: absolute; top: 0; left: 0; opacity: 0.5;">
              
              <!-- Text container -->
              <div style="position: relative; z-index: 1; color: white; font-weight: bold;">
                <span style="display: block; font-size: 18px;">National Museum</span>
                <span style="display: block; font-size: 14px;">- Colombo</span>
              </div>
            </button>
        </a>
          </div>
      </div>
      <div class="card" style="width: 250px; height: 250px; margin-right: 15px;">
        <div class="card-body">
            <a href="https://dwc.lankagate.gov.lk/DWCEpermitApp/homeAction.action?lang=en" target="_blank" style="text-decoration: none;">
            <button class="btn btn-primary position-relative overflow-hidden" 
                    style="width: 215px; height: 215px; display: flex; align-items: center; justify-content: center; text-align: center;">
              <!-- Image inside the button -->
              <img src="yala.jpg" alt="Sigiriya Jungles" 
                   style="width: 100%; height: 100%; object-fit: cover; position: absolute; top: 0; left: 0; opacity: 0.5;">
              
              <!-- Text container -->
              <div style="position: relative; z-index: 1; color: white; font-weight: bold;">
                <span style="display: block; font-size: 18px;">Yala National Park </span>
                <span style="display: block; font-size: 14px;">- Yala</span>
              </div>
            </button>
        </a>
          </div>
      </div>
      <div class="card" style="width: 250px; height: 250px; margin-right: 15px;">
        <div class="card-body">
            <a href="https://www.viator.com/tours/Nuwara-Eliya/Horton-Plains-National-Park-Entrance-Ticket/d33889-16052P1032" target="_blank" style="text-decoration: none;">
            <button class="btn btn-primary position-relative overflow-hidden" 
                    style="width: 215px; height: 215px; display: flex; align-items: center; justify-content: center; text-align: center;">
              <!-- Image inside the button -->
              <img src="hortanplace.jpg" alt="Deer Park Hotel" 
                   style="width: 100%; height: 100%; object-fit: cover; position: absolute; top: 0; left: 0; opacity: 0.5;">
              
              <!-- Text container -->
              <div style="position: relative; z-index: 1; color: white; font-weight: bold;">
                <span style="display: block; font-size: 18px;">Horton Plains National Park</span>
                <span style="display: block; font-size: 14px;">- Ohiya</span>
              </div>
            </button>
        </a>
          </div>
      </div>
    </div>
    </div>
