body {
    font-family: 'Gabarito', sans-serif;
  }

.custom-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px; 
    font-family: 'Gabarito', sans-serif;
  
    .logo {
      height: 80px;
      width: auto;
    }
  
  /*  .search-bar {
      width: 1000px;  
      margin-left: 20px; 
      margin-top: 20px;
      font-family: 'Gabarito', sans-serif;
  
      .mat-form-field {
        height: 50px;  
        min-height: 50px;  
  
        .mat-input-element {
          height: 50px;  
          line-height: 50px; 
        }
      }
  
      button {
        height: 50px; 
        line-height: 50px; 
        font-family: 'Gabarito', sans-serif;
        font-weight: bold; 
        font-size: 16px;  
      }
    }*/
  
    .example-spacer {
      flex: 1 1 auto;
    }
  
    .toolbar-buttons {
      display: flex;
      gap: 10px;  
    }
  
    .hamburger-button {
      display: none;
    }
  
    
    @media (max-width: 768px) {
      .logo {
        height: 60px;
      }
  
      .search-bar {
        width: 100%;  
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 15px;
        font-family: 'Gabarito', sans-serif;
  
        .mat-form-field {
          height: 20px;  
          min-height: 20px;  
  
          .mat-input-element {
            height: 20px;  
            line-height: 20px; 
          }
        }
  
        button {
          height: 50px; 
          line-height: 50px; 
          font-family: 'Gabarito', sans-serif;
          font-weight: bold;
          font-size: 16px;  
        }
      }
  
      .toolbar-buttons {
        display: none;
      }
  
      .hamburger-button {
        display: inline-flex;
        font-size: 24px;
      }
    }
  }
  
  .green-rectangle{
  background-color: #4C99AA; 
  border-radius: 10px;
  height: 250px; 
  margin: 10px auto; 
  width: 95%;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  flex-direction: column; 
  

  /* Media query for mobile view */
  @media (max-width: 768px) {
    height: 250px; 
    margin: 5px auto; 
    border-radius: 10px; 
    width: 95%;
  }
}
 .book {
  font-family: 'Gabarito', sans-serif; 
  font-weight: bold; 
  text-align: center; 
  margin: 20px auto; 
  font-size: 2rem; 
  color: white;
  margin: 0; 

  /* Media query for responsiveness */
  @media (max-width: 768px) {
    font-size: 1.5rem; 
 
  }
}
.search-bar {
  margin: 20px auto; 
  width: 80%; 
  height: 70px;
  background-color: white; 
  padding: 0;
  border-radius: 5px;
  
  /* Styling the mat-form-field */
  mat-form-field {
    width: 100%;
    background-color: white; 
    border-radius: 5px; 
    display: flex;
    align-items: center; 
    height: 40px; 
    padding-right: 0; 
  }

  /* Style the input field */
  input {
    background-color: white; 
    color: black; 
    height: 40px; 
    border: none; 
    padding-left: 10px; 
  }

  /* Style the search button */
  button[mat-icon-button] {
    background-color: #fff;
    color: #4C99AA; 
    border-radius: 4px;
    margin-right: 5px; 
  }

  /* Media query for mobile view */
  @media (max-width: 768px) {
    width: 85%; 
  }
}

.card {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  flex-wrap: wrap; 
  margin: 20px auto; 
  width: 100%; 
  
  mat-card {
    width: 150px; 
    height: 150px; 
    display: flex; 
    justify-content: center;
    align-items: center;
    border-radius: 10px; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
    margin: 40px; 
  }

  mat-card-actions {
    display: flex;
    justify-content: center; 
  }

  button[mat-button] {
    font-weight: bold;
    font-size: 1.2rem; 
    color: black;
  }

  /* Mobile view adjustments */
  @media (max-width: 768px) {
    justify-content: center; 
    flex-wrap: nowrap; 
    overflow-x: auto; 
    
    mat-card {
      width: 120px; 
      height: 120px; 
      margin: 10px; 
    }
  }
}


.blue-rectangle {
  background-color: #4C99AA; 
  width: 100%;
  height: 50px;
  margin: 30px auto;
  border-radius: 8px;
  display: flex;
  justify-content: flex-start; 
  align-items: center; 
  padding-left: 10px; 
}

h3 {
  font-family: 'Gabarito', sans-serif; 
  font-weight: bold; 
  text-align: center; 
  margin: 25px auto;
  font-size: 1.5rem; 
  color: black;
  margin: 10px; 

   /* Media query for responsiveness */
   @media (max-width: 768px) {
    font-size: 1.5rem; 
 
  }
}

@media (max-width: 768px) {
  .blue-rectangle {
    width: 95%; 
    height: 5%; 
  }
}

.card_2 {
  display: flex;
  justify-content: space-between; /* Space between cards */
  align-items: center;
  flex-wrap: wrap; /* Cards can wrap when needed */
  margin: 20px auto;
  width: 100%;

  mat-card {
    width: 30%; /* 3 cards per row */
    height: 150px; /* Set height */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #F2F2F2;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
  }

  mat-card-actions {
    display: flex;
    justify-content: center;
  }

  button[mat-button] {
    font-weight: bold;
    font-size: 1.2rem;
    color: black;
  }

  
  /* Mobile view adjustments */
  @media (max-width: 768px) {
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;

    mat-card {
      flex: 0 0 auto;
      width: 90%;
      margin: 10px;
    }
  }
}
