<nav class="navbar navbar-expand-lg navbar-dark bg-primary custom-toolbar">
  <a class="navbar-brand" href="#">
    <img src="logo.png" alt="Groopy Logo" class="logo">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav d-flex justify-content-end w-100"> 
      <li class="nav-item">
        <a class="nav-link" href="#">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Save More</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Help & Support</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Sign In</a>
      </li>
      <li class="nav-item">
        <button class="btn btn-light">Login</button>
      </li>
    </ul>
  </div>
</nav>


<div class="green-rectangle p-3">
  <h3 class="text-center book">Book Anything As a Group</h3>
  <div class="d-flex justify-content-center">
  <div class="input-group mb-3" style="max-width: 300px;">
    <input type="text" class="form-control" placeholder="Enter your search" aria-label="Search">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button">
        <i class="bi bi-search">Search</i>
      </button>
    </div>
  </div>
</div>
</div>

<div class="d-flex flex-row mb-3 justify-content-center">
  <div class="card mb-2" style="width: 250px; height: 250px; margin-right: 15px;">
    <div class="card-body">
      <button class="btn btn-primary" style="width: 215px; height: 215px;">Wedding</button>
    </div>
  </div>
  <div class="card mb-2" style="width: 250px; height: 250px; margin-right: 15px;">
    <div class="card-body">
      <button class="btn btn-primary" style="width: 215px; height: 215px;">Trip</button>
    </div>
  </div>
  <div class="card mb-2" style="width: 250px; height: 250px; margin-right: 15px;">
    <div class="card-body">
      <button class="btn btn-primary" style="width: 215px; height: 215px;">Music</button>
    </div>
  </div>
</div>

<div class="p-3">
  <h3 class="Wedding text-center">Wedding</h3>
</div>

<div class="mb-2">
    <div class="d-flex flex-row mb-2 justify-content-center" >
      <div class="card" style="width: 250px; height: 250px; margin-right: 15px;">
      <div class="card-body">
        <button class="btn btn-primary" style="width: 215px; height: 215px;">Hotels</button>
      </div>
    </div>
    <div class="card" style="width: 250px; height: 250px; margin-right: 15px;">
      <div class="card-body">
        <button class="btn btn-primary" style="width: 215px; height: 215px;">Food</button>
      </div>
    </div>
    <div class="card" style="width: 250px; height: 250px; margin-right: 15px;">
      <div class="card-body">
        <button class="btn btn-primary" style="width: 215px; height: 215px;">Drinks</button>
      </div>
    </div>
    </div>
    
  <div class="d-flex flex-row mb-2 justify-content-center">
    <div class="card" style="width: 250px; height: 250px; margin-right: 15px;">
      <div class="card-body">
        <button class="btn btn-primary" style="width: 215px; height: 215px;">Vehicles</button>
      </div>
    </div>
    <div class="card" style="width: 250px; height: 250px; margin-right: 15px;">
      <div class="card-body">
        <button class="btn btn-primary" style="width: 215px; height: 215px;">Photographers</button>
      </div>
    </div>
    <div class="card" style="width: 250px; height: 250px; margin-right: 15px;">
      <div class="card-body">
        <button class="btn btn-primary" style="width: 215px; height: 215px;">Decoration</button>
      </div>
    </div>
  </div>
  </div>

  <div class="p-3">
    <h3 class="Trip text-center">Trip</h3>
  </div>
  
  <div class="mb-2">
      <div class="d-flex flex-row mb-2 justify-content-center" >
        <div class="card" style="width: 250px; height: 250px; margin-right: 15px;">
        <div class="card-body">
          <button class="btn btn-primary" style="width: 215px; height: 215px;">Locations</button>
        </div>
      </div>
      <div class="card" style="width: 250px; height: 250px; margin-right: 15px;">
        <div class="card-body">
          <button class="btn btn-primary" style="width: 215px; height: 215px;">Food</button>
        </div>
      </div>
      <div class="card" style="width: 250px; height: 250px; margin-right: 15px;">
        <div class="card-body">
          <button class="btn btn-primary" style="width: 215px; height: 215px;">Drinks</button>
        </div>
      </div>
      </div>
      
    <div class="d-flex flex-row mb-2 justify-content-center">
      <div class="card" style="width: 250px; height: 250px; margin-right: 15px;">
        <div class="card-body">
          <button class="btn btn-primary" style="width: 215px; height: 215px;">Vehicles</button>
        </div>
      </div>
      <div class="card" style="width: 250px; height: 250px; margin-right: 15px;">
        <div class="card-body">
          <button class="btn btn-primary" style="width: 215px; height: 215px;">Guide</button>
        </div>
      </div>
      <div class="card" style="width: 250px; height: 250px; margin-right: 15px;">
        <div class="card-body">
          <button class="btn btn-primary" style="width: 215px; height: 215px;">Air Tickets</button>
        </div>
      </div>
    </div>
    </div>

    <div class="p-3">
      <h3 class="Music text-center">Music</h3>
    </div>
    
    <div class="mb-2">
        <div class="d-flex flex-row mb-2 justify-content-center" >
          <div class="card" style="width: 250px; height: 250px; margin-right: 15px;">
          <div class="card-body">
            <button class="btn btn-primary" style="width: 215px; height: 215px;">Locations</button>
          </div>
        </div>
        <div class="card" style="width: 250px; height: 250px; margin-right: 15px;">
          <div class="card-body">
            <button class="btn btn-primary" style="width: 215px; height: 215px;">Food</button>
          </div>
        </div>
        <div class="card" style="width: 250px; height: 250px; margin-right: 15px;">
          <div class="card-body">
            <button class="btn btn-primary" style="width: 215px; height: 215px;">Drinks</button>
          </div>
        </div>
        </div>
        
      <div class="d-flex flex-row mb-2 justify-content-center">
        <div class="card" style="width: 250px; height: 250px; margin-right: 15px;">
          <div class="card-body">
            <button class="btn btn-primary" style="width: 215px; height: 215px;">Vehicles</button>
          </div>
        </div>
        <div class="card" style="width: 250px; height: 250px; margin-right: 15px;">
          <div class="card-body">
            <button class="btn btn-primary" style="width: 215px; height: 215px;">Sound</button>
          </div>
        </div>
        <div class="card" style="width: 250px; height: 250px; margin-right: 15px;">
          <div class="card-body">
            <button class="btn btn-primary" style="width: 215px; height: 215px;">Artists</button>
          </div>
        </div>
      </div>
      </div>