 <div class="green-rectangle p-3" style="margin: 50px;">
    <h3 class="text-center book">Book Anything As a Group</h3>
    <div class="d-flex justify-content-center">
    <div class="input-group mb-3" style="max-width: 300px;">
      <input type="text" class="form-control" placeholder="Enter your search" aria-label="Search">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button">
          <i class="bi bi-search">Search</i>
        </button>
      </div>
    </div>
  </div>
  </div>
  
  <div class="d-flex flex-row mb-3 justify-content-center">
    <div class="card mb-2" style="width: 250px; height: 250px; margin-right: 15px;">
      <div class="card-body">
        <button routerLink="/wedding" class="btn btn-primary" style="width: 215px; height: 215px;">Wedding</button>
      </div>
    </div>
    <div class="card mb-2" style="width: 250px; height: 250px; margin-right: 15px;">
      <div class="card-body">
        <button routerLink="/trip" class="btn btn-primary" style="width: 215px; height: 215px;">Trip</button>
      </div>
    </div>
    <div class="card mb-2" style="width: 250px; height: 250px; margin-right: 15px;">
      <div class="card-body">
        <button routerLink="/music" class="btn btn-primary" style="width: 215px; height: 215px;">Music</button>
      </div>
    </div>
  </div>
  <div class="chat">
<button routerLink="/chat" >chat</button>
  </div>
      
  
        
        